.modalCaja{
    padding: 13% 25% 0 35%;
}
h2 {
    margin: 0 0 20px;
    padding: 0;
    color: white;
    text-align: center;
}
.login form {
    color: #0379D6;
}
.error {
    color: red;
}
.campos{
    margin-bottom: 15px;
}
.header .btn{
    background-color: transparent;
    border: 0;
    margin-bottom: 15px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footerRegistro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footerRegistro>button {
    height: 50%;
    margin-top: 21px;
}
.iniciarSesion {
    font-size: 14px;
    text-decoration: none;
    color: white;
    width: 50%;
    text-align: center;
}