<div class="modalCaja">
    <div class="login col-8">
        <div class="header">
            <h2>Registrarse</h2>
            <button type="button" 
                class="btn btn-primary" 
                ngbTooltip="Al registrarte podrás editar algunas secciones de la página"
                placement="right">
                <i class="far fa-question-circle" style="font-size: 20px;"> </i>
            </button>
        </div>
        <form [formGroup]="form" (ngSubmit)="onEnviar($event)" class="col">
            <!-- Email -->
            <div class="campos"> 
                <label for="email" class="col-form-label">Correo Electrónico</label>
                <input type="email" formControlName="email" class="form-control"> 
            </div>
            <!-- Validación email -->
            <div *ngIf="Mail?.errors && Mail?.touched">
                <p *ngIf="Mail?.hasError('required')" class="error">
                    El correo electrónico es requerido.
                </p>
                <p *ngIf="Mail?.hasError('email')" class="error">
                    El formato del correo electrónico debe ser válido.
                </p>
            </div>
            <!-- Contraseña -->
            <div class="campos">
                <label for="inputPasword" class="col-form-label">Contraseña</label>
                <input type="password" formControlName="password" class="form-control">
            </div>
            <!-- Validación contraseña -->
            <div *ngIf="Password?.errors && Password?.touched">
                <p *ngIf="Password?.hasError('required')" class="error">
                    Se requiere una contraseña.
                </p>
                <p *ngIf="Password?.errors?.['minlength']" class="error">
                    La contraseña debe tener como mínimo 8 caracteres.
                </p>
            </div>

            <div class="footerRegistro">
                <button type="submit" class="btn btn-primary">Registrarse</button>
                <div class="iniciarSesion">
                    Ya tienes una cuenta?
                    <button type="button" class="btn btn-secondary" routerLink="/login/principal-login">Iniciar Sesión</button>
                </div>
            </div>
        </form>
    </div>
</div>