<div class="seccion">
    <button routerLink="/proyectos/items" class="boton">
        <i class="fas fa-reply back"></i>
    </button>
    <div class="panel">
        <img src="assets/imagenes/portfolio.png" alt="">
        <div class="cajaTexto">
            <h2>Portfolio Web</h2>
            <p>
                Este portfolio lo realice en el curso de Argentina Programa #YoProgramo y es la pagina en la que estas ahora mismo. 
                Fue una buena experiencia y un buen aprendizaje en donde pude volcar todo lo aprendido.
                El stack de trabajo que utilicé fue: HTML, CSS, Bootstrap, Javascript, Angular, Spring Boot, Java, MySQL, Heroku. 
            </p>
            <h6>Año: 2022</h6>
            <div class="contenido">
                <h3>Programa del curso</h3>
                <h5>Módulo uno: Introducción a desarrollo web y aplicaciones</h5>
                <p>
                    Metodologías ágiles, gestión de proyectos y uso de Github para crear tu propio repositorio o bien colaborar con las comunidades de trabajo o desarrollo. 
                    Principales conceptos, actividades y herramientas que requiere un programador Front End y Back End reflexionando sobre las diversas tareas de un Full Stack Developer en una empresa.
                </p>
                <h5>Módulo dos: Front End estático</h5>
                <p>
                    Desarrollar habilidades para la programación de sitios web estáticos usando HTML, CSS, y Javascript. 
                    Conceptos claves, sus estructuras, estilos y funciones. Comenzarás a diseñar tus propios sitios web.
                </p>
                <h5>Módulo tres: Front End - Desarrollo Web Dinámico</h5>
                <p>
                    Angular, uno de los frameworks más solicitados y potentes en la industria del desarrollo de software. 
                    Extender lo aprendido en el módulo anterior para convertir tus sitios en algo mucho más dinámico y con un alto grado de calidad.
                </p>
                <h5>Módulo cuatro: Bases de datos</h5>
                <p>
                    Conceptos para la creación y consultas de base de datos. 
                    Cómo instalar, diseñar y programar tu propia base de datos aplicando conceptos de normalización
                    e integridad para la persistencia de datos de tus aplicaciones, además podrás generar relaciones 
                    complejas de acuerdo con diversos modelos de negocio utilizados en la industria del software.
                </p>
                <h5>Módulo Cinco: POO - Buenas prácticas de programación</h5>
                <p>
                    Conceptos y paradigmas de Programación Orientada a Objetos (POO). Cómo y en dónde usarlos, resolviendo problemas reutilizando
                    patrones conocidos que aplicarás en tus proyectos y en tu forma de pensar en cada desarrollo.
                </p>
                <h5>Módulo Seis: Backend - Java EE parte I</h5>
                <p>
                    Poner en práctica con el lenguaje Java los pilares de la Programación Orientada a Objetos. 
                    Podrás desarrollar tus propios programas a partir de algoritmos diseñados para generar o manipular 
                    estructuras complejas a nivel lógico y escalable de un proyecto de software.
                </p>
                <h5>Módulo Siete: Backend - Java EE parte II</h5>
                <p>
                    Desarrollo web con Java utilizando JSP, Servlets, Sockets y conexión con base de datos, 
                    también las configuraciones necesarias para “Echar a volar” sus servicios y aplicaciones.
                </p>
                <h5>Módulo Ocho: Backend - Java Spring boot</h5>
                <p>
                    Framework Spring Boot, una de las tecnologías más usadas para web en Java, que te permite agilizar el desarrollo. 
                    Conocerás lo necesario para generar tus aplicaciones, conectar con base de datos y crear APIs para interconectar las funcionalidades a internet.
                </p>
                <h5>Módulo Nueve: Dev Ops</h5>
                <p>
                    Operaciones de desarrollo y despliegue continuo en el desarrollo de software, profundizando en conceptos de ciberseguridad. 
                    Te acercarás al mundo del testing de software para aumentar la calidad de tus trabajos, apoyados en los estándares de la industria.
                </p>
            </div>
        </div>

    </div> 
</div>