.barraNavegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 5px 5% 0px;
    background-color: #1c1d25;
}
.logos{
    display: flex;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo a{
    width: 100%;
    height: 50px;
}
#logo{
    width: 100%;
    height: 90%;
}
.arg-programa{
    display: flex;
    justify-content: center;
    align-items: center;
}
#arg-programa{
    width: 100%;
    height: 80px;
}
.contenedor-nav{
    display: flex;
}
.listaLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.listaLinks > li{
    position: relative;
    margin: 0px 20px;
}
.enlaces{
    color: #b0b2c3;
    font-family: League Spartan, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 0;
}
.active{
    color: #0379D6;
}
.link {
    text-decoration: none;
    color: #b7b7b7;
    margin: 0px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    transition: 0.4s;
}

/* MENU DESPLEGABLE */
.menuDesplegable{
    display: none;
}
#botonMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    margin-right: -15px;
    padding: 15px;
    border: 0px;
    background-color: transparent;
    color: inherit;
    text-transform: none;
}
.ham-box{
    display: inline-block;
    position: relative;
    width: 30px;
    height: 24px;       
}
#ham-box-inner{
    position: absolute;
    top: 50%;
    right: 0px;
    width: 30px;
    height: 2px;
    border-radius: 4px;
    background-color: white;
    transform: rotate(0deg);
}
.ham-box-inner-close::before, .ham-box-inner-close::after{
    content: "";
    display: block;
    position: absolute;
    left: auto;
    right: 0px;
    height: 2px;
    border-radius: 4px;
    background-color: white;
}
.ham-box-inner-close::before{
    width: 120%;
    top: -10px;
    opacity: 1;
    transition: all 0.25s;
}
.ham-box-inner-close::after{
    width: 80%;
    bottom: -10px;
    transform: rotate(0deg);
    transition: all 0.25s;
}
.ham-box-inner-open::before{
    width: 100%;
    top: 0px;
    opacity: 0;
    transition: all 0.25s;
}
.ham-box-inner-open::after{
    width: 100%;
    bottom: 0px;
    transform: rotate(-90deg);
    transition: all 0.25s;
}

@media only screen and (max-width: 1024px){
    .barraNavegacion a{
        font-size: 18px;
    }
  }
  @media only screen and (max-width: 992px){
    .listaLinks li{
        margin: 0px 10px;
    }
  }
  @media only screen and (max-width: 900px){
    /* MENU DESPLEGABLE */
    .contenedor-nav{
        display: none;
    }
    .menuDesplegable{
        display: block;
        /* nuevo */
        transition-delay: .1s;
        z-index: 45;
    }
    /* FIN MENU DESPLEGABLE */
  }
  @media only screen and (max-width: 768px){
    .barraNavegacion{
        margin-right: 0px;
    }
  }
  @media only screen and (max-width: 576px){
    .linksNav li{
        margin: 15px 0px;
    }
    .linksNav a{
        font-size: 27px !important;
    }
  }