<nav class="barraNavegacion">
    <div class="logos">
        <div class="logo">
            <a routerLink="/principal"><img id="logo" src="assets/imagenes/LogoDR-white.png" alt="logo"></a>
        </div>
        <div class="arg-programa">
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank">
                <img id="arg-programa" src="assets/imagenes/APLogo-20-20.png" alt="">
            </a>
        </div>
    </div>
    <div class="contenedor-nav">
        <ol class="listaLinks">
            <li><a class="enlaces" routerLink="/principal" [routerLinkActive]="'active'">
                    <i class="fas fa-home"></i>                
                </a>
            </li>
            <li><a class="enlaces" routerLink="/about-me" [routerLinkActive]="'active'">Sobre Mí</a></li>
            <li><a class="enlaces" routerLink="/estudios" [routerLinkActive]="'active'">Estudios</a></li>
            <li><a class="enlaces" routerLink="/proyectos" [routerLinkActive]="'active'">Proyectos</a></li>
            <li><a class="enlaces" routerLink="/contacto" [routerLinkActive]="'active'">Contacto</a></li>
            <li><a class="enlaces" routerLink="/login" [routerLinkActive]="'active'">Iniciar Sesión</a></li>
        </ol>  
    </div>

    <div class="menuDesplegable">
            <button id="botonMenu" onclick="desplegarMenu()">
                <div class="ham-box">
                    <div id="ham-box-inner" class="ham-box-inner-close"></div>
                </div>
            </button>
            <nav id="contenidoMenu">
                <ul class="linksNav">
                    <li><a>Sobre Mí</a></li>
                    <li><a>Estudios</a></li>
                    <li><a>Contacto</a></li>
                    <li><a>Iniciar Sesión</a></li>
                </ul>
                <ul class="socialNavbar">
                    <li><a href="https://www.instagram.com/diegoromer9/" target="_blank"><img src="assets/iconos\instaNavbar.png" alt=""></a></li>
                    <li><a href="https://twitter.com/romerodiego356" target="_blank"><img src="assets/iconos\tw.png" alt=""></a></li>
                    <li><a href="https://github.com/DDiegoR" target="_blank"><img src="assets/iconos\gh.png" alt=""></a></li>
                    <li><a href="https://www.linkedin.com/in/diego-eduardo-romero-700253221" target="_blank"><img src="assets/iconos\in.png" alt=""></a></li>
                </ul>
            </nav>
    </div>

</nav>
