<div class="seccion">
    <button routerLink="/proyectos/items" class="boton">
        <i class="fas fa-reply back"></i>
    </button>
    <div class="panel">
        <a href="#">
            <img src="assets/imagenes/sitioweb.png" alt="">
            <div class="cajaTexto">
                <h2>Primer Sitio Web</h2>
                <p>
                    Este sitio web lo diseñé en un curso de Diseñador Web. Es como una página en donde hay info
                    sobre mí. Fue desarollada a modo de práctica y el stack de trabajo que utilicé fue: HTML, CSS, Bootstrap, JavaScript.
                </p>
                <h6>Año: 2021</h6>
            </div>
        </a>
    </div>
</div>