<div id="estudios" class="seccion-estudios">
    <div class="barra">
        <h2 class="titulos-secciones">Mis Estudios</h2>
        <div>
            <button type="button" class="botonEdit">
                <i class="fas fa-pen"></i>
            </button>
        </div>
    </div>
    <div class="caja-estudios">
        <!-- Listado -->
        <ul class="listado-estudios">
            <li *ngFor = "let estudio of estudios">
                <a class="botonEstudio activeBoton" routerLink="{{estudio.path}}" [routerLinkActive]="'active'">{{estudio.nombre}}</a>
            </li>
        </ul>
        <!-- Contenido -->
        <div class="contenido-secciones">
            <router-outlet></router-outlet>
        </div>
    </div>
    <skills></skills>
</div>
