.seccion-estudios{
    padding: 100px 50px 50px 5%;
    margin: 0px auto;
    height: 100%;
    min-height: 80vh;
    max-width: 1000px;
    min-width: 420px;
}
.caja-estudios{
    display: flex;
    font-family: LibreBaskerville-Regular,Palatino Linotype,Times New Roman,serif;
    color: #94959C;
    margin-top: 100px;
    padding: 0 80px 50px 10%;
}
.listado-estudios{
    position: relative;
    z-index: 3;
    width: max-content;
    padding: 0;
    margin: 0;
    list-style: none;
}
.botonEstudio{
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 42px;
    padding: 0px 20px 2px;
    border-left: 2px solid white;
    color: white;
    background-color: transparent;
    text-align: left;
    white-space: nowrap;
    font-family: LibreBaskerville-Regular,Palatino Linotype,Times New Roman,serif;
    font-size: 15px;
}
.active{
    color:#0379D6;
    border-color: #0379D6;
}
.contenido-secciones{
    position: relative;
    width: 100%;
    min-height: 40vh;
    margin-left: 20px;
}
#ien-titulo{
    height: 10%;
    width: 10%;
    cursor: pointer;
}
.barra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}
.botonEdit {
    background-color: transparent;
    border-color: white;
    border-radius: 15px;
}
.botonEdit i {
    color: white;
    margin: 5px 3px;
}

@media only screen and (max-width: 768px){
    .caja-estudios {
        display: block;
        padding-right: 0px;
    }

    .listado-estudios{
        display: flex;
        overflow-x: auto;
        width: calc(100% + 75px);
        padding-left: 50px;
        margin-left: -50px;
        margin-bottom: 30px;
    }
}