
<section class="seccion">
    <h1 class="titulo">Mis Skills</h1>
    <div class="skills">
        <ul>
            <li *ngFor = "let habilidad of habilidades" class="numeracion">
                <div>{{habilidad.idHabilidad}}</div>
                <svg class="caja">
                    <rect x="0" y="0" attr.width="{{habilidad.porcentaje}}%" height="25" />
                    <text x="3" y="20" class="nombre">{{habilidad.titulo}}</text>
                    <text attr.x="{{habilidad.porcentaje - 6}}%" y="20" class="porcentaje">{{habilidad.porcentaje}}%</text>
                </svg>
            </li>
        </ul>
    </div>
</section>
<section class="seccion">
    <div class="tecnologias">
        <h1 class="titulo">Tecnologías</h1>
        <ul class="lista-tecnologias">
            <li *ngFor = "let tecnologia of tecnologias">
                <h5>{{tecnologia.titulo}}</h5>
                <img src="{{tecnologia.imagen}}" alt="">
            </li>
        </ul>
    </div>
</section>
