<div id="argentinaPrograma" role="tabpanel">
    <h3 class="tituloEstudio">Full Stack Developer Jr <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">@Argentina Programa</a></h3>
    <h5 class="subtituloEstudio">Febrero 2022 - Enero 2023</h5>
    <p class="descripcionEstudio">
        Realicé el curso de Full Stack Developer Jr dictado por Argentina Programa... 
    </p>
    <a href="#" class="enlaces" data-bs-toggle="modal" data-bs-target="#titulo" data-bs-whatever="@ap">Ver certificado</a>
</div>