<div class="seccion">
    <button routerLink="/proyectos/items" class="boton">
        <i class="fas fa-times back"></i>
    </button>
    <div class="panel">
        <a href="#">
            <img src="assets/imagenes/Simon.png" alt="">
            <div class="cajaTexto">
                <h2>Juego - Simón</h2>
                <p>
                    Este proyecto es de un juego que desarrollé junto a un grupo de amigos en la facultad, el nombre del 
                    grupo era Vulgary. Este juego es una versión digital del famoso juego electrónico Simon creado 
                    por Ralph Baer y Howard J. Morrison, su interfaz es simple ya que esta desarrollado para consola 
                    utilizando el lenguaje Python. Fue una linda experiencia de trabajo en equipo y creatividad.
                </p>
                <h6>Año: 2016</h6>
            </div>
        </a>
    </div>
</div>