<div class="modalCaja">
    <div class="login formulario">
        <div class="header">
            <h2>Iniciar Sesión</h2>
        </div>
        <form [formGroup]="form" (ngSubmit)="onEnviar($event)" class="col">
            <!-- Email -->
            <div class="campos"> 
                <label for="email" class="col-form-label">Correo Electrónico</label>
                <input type="email" formControlName="email" class="form-control"> 
            </div>
            <!-- Validación email -->
            <div *ngIf="Mail?.errors && Mail?.touched">
                <p *ngIf="Mail?.hasError('required')" class="error">
                    El correo electrónico es requerido.
                </p>
                <p *ngIf="Mail?.hasError('email')" class="error">
                    El formato del correo electrónico debe ser válido.
                </p>
            </div>
            <!-- Contraseña -->
            <div class="campos">
                <label for="inputPasword" class="col-form-label">Contraseña</label>
                <input type="password" formControlName="password" class="form-control">
            </div>
            <!-- Validación contraseña -->
            <div *ngIf="Password?.errors && Password?.touched">
                <p *ngIf="Password?.hasError('required')" class="error">
                    Se requiere una contraseña.
                </p>
            </div>

            <div class="footer">
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            </div>
        </form>
    </div>
</div>