
<div id="proyectos" class="seccion-proyectos">
    <h2 class="titulos-secciones">Proyectos</h2>
    <div class="caja-proyectos">
        <ul class="listaPanel">
            <li>
                <div class="panel">
                    <a routerLink="/proyectos/portfolio">
                        <img src="assets/imagenes/portfolio.png" alt="">
                        <div class="cajaTexto">
                            <h2>Portfolio Web</h2>
                            <p>
                                Este portfolio lo realice en el curso de Argentina Programa #YoProgramo y es la pagina en la que estas ahora mismo. 
                                Fue una buena experiencia y un buen aprendizaje en donde pude volcar todo lo aprendido.
                                El stack de trabajo que utilicé fue: HTML, CSS, Bootstrap, Javascript, Angular, Spring Boot, Java, MySQL, Heroku. 
                            </p>
                            <h6>Año: 2022</h6>
                        </div>
                    </a>
                </div>    
            </li>
            <li>
                <div class="panel">
                    <a routerLink="/proyectos/sitioweb">
                        <img src="assets/imagenes/sitioweb.png" alt="">
                        <div class="cajaTexto">
                            <h2>Primer Sitio Web</h2>
                            <p>
                                Este sitio web lo diseñé en un curso de Diseñador Web. Es como una página en donde hay info
                                sobre mí. Fue desarollada a modo de práctica y el stack de trabajo que utilicé fue: HTML, CSS, Bootstrap, JavaScript.
                            </p>
                            <h6>Año: 2021</h6>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="panel">
                    <a routerLink="/proyectos/simon">
                        <img src="assets/imagenes/Simon.png" alt="">
                        <div class="cajaTexto">
                            <h2>Juego - Simón</h2>
                            <p>
                                Este proyecto es de un juego que desarrollé junto a un grupo de amigos en la facultad, el nombre del 
                                grupo era Vulgary. Este juego es una versión digital del famoso juego electrónico Simon creado 
                                por Ralph Baer y Howard J. Morrison, su interfaz es simple ya que esta desarrollado para consola 
                                utilizando el lenguaje Python. Fue una linda experiencia de trabajo en equipo y creatividad.
                            </p>
                            <h6>Año: 2016</h6>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="panel">
                    <img src="assets/imagenes/aboutGH.png" alt="">
                    <div class="cajaTexto">
                        <h2 style="color: #0379d6">Tarjeta de Presentación</h2>
                        <p>
                            Esta es una tarjeta de presentación web que diseñé en un curso de Diseñador Web.
                            El stack de trabajo que utilicé fue: HTML, CSS, Bootstrap, JavaScript.
                        </p>
                        <h6>Año: 2021</h6>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>