
<div id="proyectos" class="seccion-proyectos">
    <div class="barra">
        <h2 class="titulos-secciones">Proyectos</h2>
        <div>
            <button type="button" class="botonEdit">
                <i class="fas fa-pen"></i>
            </button>
        </div>
    </div>
    <div class="caja-proyectos">
        <ul class="listaPanel">
            <li *ngFor = "let proyecto of proyectos">
                <div class="panel">
                    <img src={{proyecto.imagen}}>
                    <div class="cajaTexto">
                        <h2>{{proyecto.titulo}}</h2>
                        <p>{{proyecto.descripcion}}</p>
                        <a href="{{proyecto.link}}" target="_blank">{{proyecto.link}}</a>
                        <h6>{{proyecto.fecha_inicio | date:'yyyy'}} - {{proyecto.fecha_fin | date:'yyyy'}}</h6>
                    </div>
                </div>    
            </li>
        </ul>
    </div>
</div>