<div id="cursoDW" role="tabpanel">
    <h3 class="tituloEstudio">Diseñador Web <a href="http://ien.edu.ar/">@ien</a></h3>
    <h5 class="subtituloEstudio">Agosto - Diciembre 2021</h5>
    <p class="descripcionEstudio">
        Uno de los cursos que realice fue el de Diseñador Web dictado por el Instituto Educativo Económico Nacional (ien)
        el cual me sirvió mucho para dar mis primero pasos en el gran mundo del FrontEnd.
    </p>
    <a class="enlaces" (click)="modal.showModal()" (click)="cargarRuta()">Ver certificado</a>
    <modal-certificados #modal [rutaImagen]="rutaImagen"></modal-certificados>
</div>